In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession,Row

In [3]:
spark = SparkSession.builder.appName("recreate1").getOrCreate()

In [4]:
sc = spark.sparkContext

In [5]:
print(sc)
print(type(sc))

<SparkContext master=local[*] appName=recreate1>
<class 'pyspark.context.SparkContext'>

In [15]:
rdd = sc.textFile("file:///Users/hdagar3/Documents/Spark_Things/Spark_Course_Files_FraneKane/ml-100k/u.data")
print(rdd)

file:///Users/hdagar3/Documents/Spark_Things/Spark_Course_Files_FraneKane/ml-100k/u.data MapPartitionsRDD[5] at textFile at NativeMethodAccessorImpl.java:0

In [21]:
def required_function(line):
    data = line.split()
    return Row(user_id=int(data[0]),movie_id=int(data[1]),rating=int(data[2]))

In [22]:
# here converting unstructured data into structured data with the help of RDD
row_dataset = rdd.map(required_function)

In [24]:
print(row_dataset)
print(type(row_dataset))
print(row_dataset.count())
print(row_dataset.take(3))

PythonRDD[8] at RDD at PythonRDD.scala:48
<class 'pyspark.rdd.PipelinedRDD'>
100000
[Row(movie_id=242, rating=3, user_id=196), Row(movie_id=302, rating=3, user_id=186), Row(movie_id=377, rating=1, user_id=22)]

In [25]:
df = spark.createDataFrame(row_dataset).cache()

In [27]:
print(df)
print(type(df))

DataFrame[movie_id: bigint, rating: bigint, user_id: bigint]
<class 'pyspark.sql.dataframe.DataFrame'>

In [28]:
print(df.show())

+--------+------+-------+
|movie_id|rating|user_id|
+--------+------+-------+
|     242|     3|    196|
|     302|     3|    186|
|     377|     1|     22|
|      51|     2|    244|
|     346|     1|    166|
|     474|     4|    298|
|     265|     2|    115|
|     465|     5|    253|
|     451|     3|    305|
|      86|     3|      6|
|     257|     2|     62|
|    1014|     5|    286|
|     222|     5|    200|
|      40|     3|    210|
|      29|     3|    224|
|     785|     3|    303|
|     387|     5|    122|
|     274|     2|    194|
|    1042|     4|    291|
|    1184|     2|    234|
+--------+------+-------+
only showing top 20 rows

None

In [29]:
grouped_object = df.groupBy('rating')
print(grouped_object)

<pyspark.sql.group.GroupedData object at 0x1083029e8>

In [30]:
another_df = grouped_object.count()
print(another_df)

DataFrame[rating: bigint, count: bigint]

In [32]:
print(another_df.orderBy('rating').show())

+------+-----+
|rating|count|
+------+-----+
|     1| 6110|
|     2|11370|
|     3|27145|
|     4|34174|
|     5|21201|
+------+-----+

None

In [ ]:
# END