In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession,Row

In [3]:
spark = SparkSession.builder.appName('recreate3').getOrCreate()

In [4]:
print(spark)
print(type(spark))

<pyspark.sql.session.SparkSession object at 0x10a3549e8>
<class 'pyspark.sql.session.SparkSession'>

In [5]:
sc = spark.sparkContext
print(sc)

<SparkContext master=local[*] appName=recreate3>

In [6]:
rdd = sc.textFile('file:///Users/hdagar3/Documents/Spark_Things/Spark_Course_Files_FraneKane/1800.csv')
print(rdd)

file:///Users/hdagar3/Documents/Spark_Things/Spark_Course_Files_FraneKane/1800.csv MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [7]:
print(rdd.top(3))

['ITE00100554,18001231,TMIN,25,,,E,', 'ITE00100554,18001231,TMAX,50,,,E,', 'ITE00100554,18001230,TMIN,31,,,E,']

In [8]:
# Converting unstructured data to structured by defining RDD of Row object
def split_function(line):
    info = line.split(",")
    return Row(station_id=info[0],entry_type=info[2],temperature=float(info[3]))

In [9]:
another_rdd = rdd.map(split_function)

In [12]:
df = spark.createDataFrame(another_rdd).cache()

In [13]:
df.show()

+----------+-----------+-----------+
|entry_type| station_id|temperature|
+----------+-----------+-----------+
|      TMAX|ITE00100554|      -75.0|
|      TMIN|ITE00100554|     -148.0|
|      PRCP|GM000010962|        0.0|
|      TMAX|EZE00100082|      -86.0|
|      TMIN|EZE00100082|     -135.0|
|      TMAX|ITE00100554|      -60.0|
|      TMIN|ITE00100554|     -125.0|
|      PRCP|GM000010962|        0.0|
|      TMAX|EZE00100082|      -44.0|
|      TMIN|EZE00100082|     -130.0|
|      TMAX|ITE00100554|      -23.0|
|      TMIN|ITE00100554|      -46.0|
|      PRCP|GM000010962|        4.0|
|      TMAX|EZE00100082|      -10.0|
|      TMIN|EZE00100082|      -73.0|
|      TMAX|ITE00100554|        0.0|
|      TMIN|ITE00100554|      -13.0|
|      PRCP|GM000010962|        0.0|
|      TMAX|EZE00100082|      -55.0|
|      TMIN|EZE00100082|      -74.0|
+----------+-----------+-----------+
only showing top 20 rows

In [14]:
filtered_df = df.filter(df['entry_type'])

ValueError: Cannot apply 'in' operator against a column: please use 'contains' in a string column or 'array_contains' function for an array column.